<div id="divMain" ng-controller="ProductController">
    <div ng-repeat="section in sections"> 
        <md-content layout-padding>
            <div style="text-align: right" onclick="verMas(section.id)"><a>Ver M&aacute;s</a></div>
            <md-card layout="column" layout-align="center center"  style="padding-bottom: 10px">
                <h3>{{section.name}}</h3>
                <div class="wrapper">
                    <div class="jcarousel-wrapper">
                        <input type="hidden" id="index{{section.id}}" value="0"/>
                        <!-- Carousel -->
                        <div id="section{{section.id}}" class="jcarousel">
                            <ul ng-repeat="product in section.productList">
                                <li>
                                    <a ng-click="openDetail(product)" style="cursor:pointer" ><img
                                        ng-src="data:image/png;base64,{{product.images[0].content}}" 
                                        style="width:600px !important;height:400px !important;cursor:pointer" 
                                        alt="{{product.images[0].name}}"/>
                                        </a>
                                </li>
                            </ul>
                        </div> 
                        <br/>
                        
                        <!-- Pagination -->
                        <cl-paging id="paging{{section.id}}"
                                   flex cl-pages="paging[section.id].total" cl-steps="6" 
                                   cl-page-changed="page(section)"
                                   cl-current-page="paging[section.id].current"></cl-paging>

                    </div>
                </div>
            </md-card>
        </md-content>  
    </div>
</div>